<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/fragments :: head">
</head>
<body>

<div th:include="fragments/fragments :: header"></div>

<div class="container">
    <div class="row">
        <h4 class="text-center">Введите данные о погодных условиях за месяц:</h4>
    </div>
    <div class="row">
        <form th:object="${weatherStats}" th:action="@{/addNewWeatherData}" method="POST" action="#">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-success" role="alert" th:if="${success}">Вы успешно добавили новые данные</div>
                <div class="form-group">
                    <input type="text" class="form-control new-data-input" placeholder="Период(в формате <Год>-<Месяц>)"
                           name="yearMonth"
                           th:field="*{yearMonth}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Температура, &degС"
                           name="avgTemperature" th:field="*{avgTemperature}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input"
                           placeholder="Атмосферное давление, мм ртутного столба" name="atmospherePressure"
                           th:field="*{atmospherePressure}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Относительная влажность, %"
                           name="humidity" th:field="*{humidity}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Скорость ветра, м/с"
                           name="windSpeed" th:field="*{windSpeed}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Облачность, %"
                           name="cloudiness" th:field="*{cloudiness}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Мин. температура, &degС"
                           name="minTemperature" th:field="*{minTemperature}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Макс. температура, &degС"
                           name="maxTemperature" th:field="*{maxTemperature}" th:required="required">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control new-data-input" placeholder="Количество осадков, мм"
                           name="downfall" th:field="*{downfall}" th:required="required">
                </div>
                <button id="addNewWeatherData" class="btn btn-primary center-block" type="submit">Записать новые
                    данные
                </button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/addingData.js"></script>
</body>
</html>