<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/fragments :: head">
</head>
<body>

<div th:include="fragments/fragments :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h4 class="text-center">Заполните данные для получения прогноза:</h4>
            <div class="form-group">
                <input type="number" class="form-control" id="temp" placeholder="Температура, &degС" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="press" placeholder="Атмосферное давление, мм ртутного столба" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="humid" placeholder="Относительная влажность, %" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="wind" placeholder="Скорость ветра, м/с" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="cloud" placeholder="Облачность, %" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="minTemp" placeholder="Мин. температура, &degС" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="maxTemp" placeholder="Макс. температура, &degС" name="username">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="downfall" placeholder="Количество осадков, мм" name="username">
            </div>
            <button id="getPrognosis" class="btn btn-primary center-block">Получить прогноз</button>
        </div>
        <div class="col-md-7" id = "column2">
            <h4 class="text-center">Результат:</h4>
            <table id="resultTable" class="table table-bordered">
                <col width="70%">
                <col width="30%">
                <thead>
                <tr>
                    <th>Диагноз</th>
                    <th>Количество вызовов</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/prognosis.js"></script>
</body>
</html>