<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/fragments :: head">
</head>
<body>

<div th:include="fragments/fragments :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <select id="diseaseSelect">
                <option selected>ОРВИ</option>
                <option>Инфаркт миокарда</option>
                <option>Инфаркт миокарда с госпитализацией</option>
                <option>Инфаркт миокарда со смерт. исходом</option>
                <option>Стенокардия</option>
                <option>Аритмия сердца</option>
                <option>Сердечно-сосудистые заболевания</option>
                <option>Сердечно-сосудистые заболевания со смерт. исходом</option>
                <option>Инсульт</option>
                <option>Инсульт со смерт. исходом</option>
                <option>Пневмония</option>
                <option>Бронхиальная астма</option>
                <option>Бронхит</option>
                <option>Язвенная болезнь</option>
                <option>Гастрит</option>
            </select>
            <select id="weatherSelect">
                <option selected>Температура</option>
                <option>Давление ртутного столба</option>
            </select>
            <select id="yearSelect">
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option selected>2014</option>
                <option>2015</option>
            </select>
            <button id="showNewChart">
                Показать данные
            </button>
        </div>
        <div id="chart_div" class="col-md-6 col-md-offset-2" style="margin-top:25px"></div>
    </div>
</div>

<script type="text/javascript" src="/js/weatherDisease.js"></script>
</body>
</html>